[submodule "libs/kurlyk"]
	path = libs/kurlyk
	url = https://github.com/NewYaroslav/kurlyk.git
[submodule "libs/asio"]
	path = libs/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "libs/openssl-win64-v3.4.0"]
	path = libs/openssl-win64-v3.4.0
	url = https://github.com/NewYaroslav/openssl-win64-v3.4.0.git
[submodule "libs/curl-8.11.0_1-win64-mingw"]
	path = libs/curl-8.11.0_1-win64-mingw
	url = https://github.com/NewYaroslav/curl-8.11.0_1-win64-mingw.git
[submodule "libs/log-it-cpp"]
	path = libs/log-it-cpp
	url = https://github.com/NewYaroslav/log-it-cpp.git
[submodule "libs/Simple-WebSocket-Server"]
	path = libs/Simple-WebSocket-Server
	url = https://gitlab.com/eidheim/Simple-WebSocket-Server.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/time-shield-cpp"]
	path = libs/time-shield-cpp
	url = https://github.com/NewYaroslav/time-shield-cpp.git
[submodule "libs/SimpleNamedPipe"]
	path = libs/SimpleNamedPipe
	url = https://github.com/NewYaroslav/SimpleNamedPipe.git
[submodule "libs/sqlite-containers"]
	path = libs/sqlite-containers
	url = https://github.com/NewYaroslav/sqlite-containers.git
[submodule "libs/AES"]
	path = libs/AES
	url = https://github.com/SergeyBel/AES.git
